.hero.is-fullheight {
    background: #35404c;
    color: deepskyblue;

    position: fixed;

}

.object-details {
    border-radius: 10%;
    background: #35404c;
    color: deepskyblue;
    width: 120px;
    height: 120px;

    position: absolute;
}

.object-details.about-me,
.object-details.contact,
.object-details.projects {
    top: 50%;
    left: 50%;

}

.titles {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: #35404c;
    color: deepskyblue;
}

.titles li {
    display: inline;
    padding: 1em;
    text-transform: uppercase;
}

.titles li:hover {

    color: white;
}